.cn-shadow {
  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.2), 0px 5px 15px rgba(0, 0, 0, 0.17);
}

.cn-border-3 {
  border-width: 3px !important;
}

.cn-toogle-active {
  border: 1px solid #212529 !important;
}

#modal-rate th,
#modal-rate td {
  padding: 5px 5px 5px 5px;
}
