$cn-green: #5CC95A;
$cn-color-warning: #FFD600;
$cn-color-danger: #CB5256;
$cn-color-success: #78C23A;
$cn-color-info: #C1D5FC;
$cn-color-secondary: #F4BB4C;
$cn-color-primary: #5DB7E5;
$cn-color-default: #5E72E4;


.cn-shadow {
  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.2), 0px 5px 15px rgba(0, 0, 0, 0.17);
}

.cn-border-3 {
  border-width: 3px !important;
}

.cn-toogle-active {
  border: 1px solid #212529 !important;
}

#modal-rate th,
#modal-rate td {
  padding: 5px 5px 5px 5px;
}