.button--warning {
  background-color: $cn-color-warning;
  color: white;
}

.button--danger {
  background-color: $cn-color-danger;
  color: white;
}

.button--success {
  background-color: $cn-color-success;
  color: white;
}

.button--info {
  background-color: $cn-color-info;
  color: white;
}

.button--secondary {
  background-color: $cn-color-secondary;
  color: white;
}

.button--primary {
  background-color: $cn-color-primary;
  color: white;
}

.button--default {
  color: $cn-color-default
}