development:
  DB_HOSTNAME: localhost
  DB_NAME: connectus_development
  DB_NAME_TEST: connectus_test
  DB_USERNAME:
  DB_PASSWORD:
  USER_DOC: definir usuario para ver la documentacion
  PASS_DOC: definir password para ver la documentacion
test:
  DB_HOSTNAME: localhost
  DB_NAME: connectus_test
  DB_NAME_TEST: connectus_test
  DB_USERNAME:
  DB_PASSWORD:
