development:
  DB_HOSTNAME: localhost
  DB_NAME: connectus_development
  DB_NAME_TEST: connectus_test
  DB_USERNAME:
  DB_PASSWORD:
  USER_DOC: definir usuario para ver la documentacion
  PASS_DOC: definir password para ver la documentacion
  EMAIL_FROM: ''
  SEND_EMAIL: true
  EMAIL_PASSWORD: ''
  EMAIL_TO: ''
  EMAIL_PROVIDER: smtp.gmail.com
  EMAIL_PORT: "587"
  EMAIL_DOMAIN: localhost
  BASE_API: http://localhost:3000
test:
  DB_HOSTNAME: localhost
  DB_NAME: connectus_test
  DB_NAME_TEST: connectus_test
  DB_USERNAME:
  DB_PASSWORD:
  EMAIL_FROM: ''
  SEND_EMAIL: false
  EMAIL_PASSWORD: ''
  EMAIL_TO: ''
  EMAIL_PROVIDER: smtp.gmail.com
  EMAIL_PORT: "587"
  EMAIL_DOMAIN: localhost
  BASE_API: http://localhost:3000

