development:
  DB_HOSTNAME: localhost
  DB_NAME: connectus_development
  DB_NAME_TEST: connectus_test
  DB_USERNAME:
  DB_PASSWORD:
  USER_DOC: definir usuario para ver la documentacion
  PASS_DOC: definir password para ver la documentacion
  EMAIL_FROM: ''
  SEND_EMAIL: true
  EMAIL_PASSWORD: ''
  EMAIL_TO: ''
  EMAIL_PROVIDER: smtp.gmail.com
  EMAIL_PORT: "587"
  EMAIL_DOMAIN: localhost
  EMAIL_AUTHENTICATION: plain
  BASE_APP: http://localhost:3000
  ID_UNIQUE_API: "ID unico de la cuenta a usar para enviar SMS"
  SECRET_API: "la clave secreta de la API"
  DST_PHONE: "telefono movil de destino para pruebas"
  JWT_PASSWORD: correr el comando 'rake secret'
  SEND_SMS: false # se activa a true si quieren probar recepccion de mensajes
test:
  DB_HOSTNAME: localhost
  DB_NAME: connectus_test
  DB_NAME_TEST: connectus_test
  DB_USERNAME:
  DB_PASSWORD:
  EMAIL_FROM: ''
  SEND_EMAIL: false
  EMAIL_PASSWORD: ''
  EMAIL_TO: ''
  EMAIL_PROVIDER: smtp.gmail.com
  EMAIL_PORT: "587"
  EMAIL_DOMAIN: localhost
  BASE_APP: http://localhost:3000
  ID_UNIQUE_API: "ID unico de la cuenta a usar para enviar SMS"
  SECRET_API: "la clave secreta de la API"
  DST_PHONE: "telefono movil de destino para pruebas"
  JWT_PASSWORD: test123
  SEND_SMS: false # se activa a true si quieren probar recepccion de mensajes