.preview {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1.5rem;
}

.preview__image {
  width: 100%;
  object-fit: cover;
}

.preview__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  position: absolute;
  top: 7%;
}

.preview__content--email {
  display: block;
  max-height: 225px;
  overflow: scroll;
}

.preview__content--email img {
  max-width: 100%;
}

.preview__content__date {
  color: #8898AA;
  font-size: .5rem;
  font-weight: 600;
  margin-bottom: 6px;
  padding-left: 5px;
}

.preview__content__date,
.preview__content__message--sms {
  align-self: baseline;
}

.preview__content__message--sms {
  max-width: 70%;
  background-color: $cn-green;
}

.ql-container {
  height: 250px !important;
}

.quill {
  background-color: white;
}