.preview {
  display: flex;
  justify-content: center;
  position: absolute;
}

.preview__image {
  width: 100%;
  object-fit: cover;
}

.preview__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  position: absolute;
  top: 7%;
}

.preview__content__date {
  color: #8898AA;
  font-size: .5rem;
  font-weight: 600;
  margin-bottom: 6px;
  padding-left: 5px;
}

.preview__content__date,
.preview__content__message {
  align-self: baseline;
}

.preview__content__message {
  max-width: 70%;
  background-color: $cn-green;
}